@font-face {
	font-family: ComicMono;
	src: url(fonts/ComicMono-Regular.ttf);
}

body {
	width: 480px;
	margin: auto;
	position: relative;
	background: #1d2021;
	color: #ebdbb2;
	font-family: ComicMono;
	font-size: 18px;
	line-height: 22px;
	margin-top: 35px;
	margin-bottom: 35px;
}

h1 {
	line-height: 32px;
	color: #98971a;
}

a:link {
	color: #458588;
}

a:hover {
	color: #83a598;
}

a:visited {
	color: #b16286;
}
