@font-face {
	font-family: ComicMono;
	src: url(fonts/ComicMono-Regular.ttf);
}

body {
	width: 480px;
	margin: auto;
	position: relative;
	background: #1d2021;
	color: #ebdbb2;
	font-family: ComicMono;
	font-size: 18px;
	line-height: 22px;
	margin-top: 35px;
	margin-bottom: 35px;
}

body.light {
	background: #fbf1c7;
	color: #3c3836;
}

h1 {
	line-height: 32px;
	color: #98971a;
}

a:link {
	color: #458588;
}

a:hover {
	color: #83a598;
}

a:visited {
	color: #b16286;
}

/* CSS */
button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 14px;
	font-family: ComicMono;
	border-radius: 6px;
	color: #ebdbb2;
	background: #282828;
	border: none;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
